* {
    box-sizing: border-box;
}

body {
    margin: 5px;
}

header {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 35px;
    color: white;
    border: 10px solid darkgoldenrod;
    border-radius: 15px;
    background-color:brown;
    margin: 5px;
}

nav {
    display: flex;
    background-color: darkgoldenrod;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

nav a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 25px;
}

nav :hover {
    color: brown;
    background-color: goldenrod;
    border-radius: 5px;
}


.hero {
    padding: 20px;
    background-color: brown;
    color: white;
    text-align: center;
    border: 10px solid darkgoldenrod;
    border-radius: 15px;
    margin: 5px;
    margin-top: 0;
    margin-right: 0;
}

.hero img {
    height: 400px;
    width: 300px;
    display: inline-block;
    border: 10px darkgoldenrod solid;
    border-radius: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.nav-box {
    flex: 4;
    display: block;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    border:10px solid darkgoldenrod;
    border-radius: 15px;
    margin: 5px;
    margin-top: 0;
    background-color: brown;
}

.nav-box h2 {
    font-size: 50px;
}

#projects img {
    border-radius: 15px;
    border: 10px solid darkgoldenrod;
}

#project-1 :hover {
    border: 6px solid goldenrod;
}
#project-2 :hover {
    border: 6px solid goldenrod;
}
#project-3 :hover {
    border: 6px solid goldenrod;
}
#project-4 :hover {
    border: 6px solid goldenrod;
}
#project-5 :hover {
    border: 6px solid goldenrod;
}

#contact {
    font-size: 20px;
}

#contact a {
    color: goldenrod;
}
#contact a:hover {
    color: darkgoldenrod;
}
#contact a:visited {
    color: yellow;
}

footer {
    border: 10px solid darkgoldenrod;
    border-radius: 15px;
    margin: 5px;
    margin-top: 0;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 20px;
}







@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }