* {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

header {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 35px;
    color: white;
    border: 10px solid darkgoldenrod;
    background-color:brown;
}

nav {
    display: flex;
    background-color: darkgoldenrod;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 25px;
}

nav :hover {
    color: brown;
    background-color: goldenrod;
    border-radius: 5px;
}


.hero {
    padding: 20px;
    background-color: brown;
    text-align: center;
}

img {
    height: 400px;
    width: 300px;
    display: inline-block;
    border: 10px darkgoldenrod solid;

}

main {
    display: flex;
    flex-wrap: wrap;
}

.nav-box {
    flex: 4;
    padding: 20px;
    display: block;
    flex-wrap: wrap;
    text-align: center;
}







@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }